
/* container */

.container{
  width: 1164px;
  padding: 0 5px;
  margin: 0 auto;
}

/* container */

/* header */

/* header-top */

.header-top{
  padding-top: 30px;
  padding-bottom: 25px;
}

.header-top .header-top-left{
  display: flex;
}

.header-top .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top .header-top-right{
  display: flex;
  align-items: center;
}

.header-top i{
  position: relative;
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  text-align: center;
  line-height: 34px;
}



.header-top .header-top-left{
  display: flex;
  align-items: center;
}

.header-top .header-top-left p{
  color: #546e7a;
  margin-left: 245px;
}

.header-top .header-top-left p .need-help{
  font-size: 15px;
  color: #e74c3c;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header-top i span{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  color: #fff;
  border-radius: 50%;
  background-color: #fcb322;
  height: 18px;
  width: 18px;
  line-height: 18px;
  transform: translate(40%, -40%)
}

.header-top .letters > i span{
  background-color: #ef6c00;
}

.header-top .shop > i span{
  background-color: #95c85a;
}


.header-top .dropdown{
  display: none;
}

.header-top .dropdown .item-dropdown{
  width: 267px;
  /*height: 93px; */
  padding: 21px 30px 21px 21px;
  border-bottom: 1px solid #e0e0e0;
}

.header-top .dropdown .item-dropdown:last-child{
  border-bottom:  none;
}


.dropdown-hover{
  position: relative;
  margin-left: 15px;
  color: #a0a0a0;
}

.dropdown-hover:hover{
  color:  #263238;
}

.dropdown-hover::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 20px;
  z-index: 0;
}


.dropdown-hover:hover .dropdown{
  display: block;
}

.dropdown{
  z-index: 9;
  top: 62px;
  right: -15px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #d6d6d6;
}

.item-dropdown{
  display: flex;
  align-items: center;
}

.item-dropdown .circle-item{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #d4d4d4;
 /*  margin-left: 21px; */
}



.item-dropdown .item-dropdown-text{
  display: flex;
  flex-direction: column;
}

.item-dropdown a{
  font-size: 14px;
  text-align: center;
  color: #b0bec5;
}

.item-dropdown .item-dropdown-text{
  margin-left: 17px;
  margin-right: 54px;
}

.item-dropdown .name{
  margin-bottom: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #263238;
  font-size: 12px;
}

.item-dropdown .need-wp-help{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #84b743;
}

.item-dropdown .data{
  /* margin-bottom: 21px; */
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #707070;
}

.item-dropdown a:hover{
  color: #ef6c00;
}

/* header-top end */

.shop .circle-item{
  border-radius: 0;
  width: 70px;
}

.shop .data{
  font-size: 16px;
  color: #000000;
}

.dropdown-hover.username{
  margin-left: 22px;
  display: flex;
  align-items: center;
}

.username .avatar{
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #d4d4d4;
}

.username .username-right{
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

header .btn{
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #e74c3c;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 30px;
}

header .btn:hover{
  background-color: #d4d4d4;
  color: #84b743;
}

.username .username-right span{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #222222;
  font-size: 14px;
}

.username .username-right .username-price{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #8bc34a;
  margin-top: 5px;
}

.username .angle-down{
  margin-left: 11px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #707070;
}

.username .item-dropdown-username{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 15px;
  padding-top: 18px;
  padding-bottom: 30px;
  padding-right: 39px;
  border: none;
  outline: 1px solid #d5d5d5;
}

.username .item-dropdown-username .angle-right{
  font-size: 14px;
  color: #8bc34a;
}

.username .item-dropdown-username .angle-right:hover{
  color: #d4d4d4;
}

.username .item-dropdown-username .angle-right span{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #546e7a;
  margin-left: 9px;
}

.username .item-dropdown-username .angle-right span:hover{
  color: #8bc34a;
}

.username .dropdown .item-dropdown{
  width: 155px;
  height: auto;
}

.item-dropdown-username a + a{
  margin-top: 24px;
}

/* header-middle */

.header-middle{
  background-color: #263238;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: start;    
}

.header-middle .container a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.header-middle .container a:hover{
  color: #8bc34a;
}

.header-middle .container a + a{
  margin-left: 30px;
}

/* header-middle end */


/* main start*/
main{
  padding: 48px 0 143px;
  background-color: #f4f6f5;
}

.page-inner{
  margin-top: 43px;
  background-color: #fff;
  border: 1px solid #dedede;
}

.page-name{
  padding: 21px 33px 26px; 
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #63238;
  border-bottom: 1px solid #dedede;
}

.page-content{
  padding: 35px 35px 80px 42px;
}

.sales-table{
  width: 100%;
}

.sales-table th{
  background-color: #455a64;
  color: #fff;
  padding: 20px 0;
  font-family: 'Roboto';
}

.sales-table tr:nth-child(even){
  background-color: #fbfbfb;
}

.sales-table tr:last-child{
  border-bottom: none;
}

.sales-table td:nth-child(1){
  text-align: center;
}

.sales-table td:nth-child(2){

}

td{
  padding: 10px 0;
}

td.avatar{
  display: flex;
}

td.avatar img{
  height: 30px;
  width: 30px;
  background-color: #b5b5b5;
  border-radius: 50%;
}

td.number{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

td.full-name{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px; 
}

td.number2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px; 
}

td.text-centre{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}


